@media (max-width:560px) {
    * {
        box-sizing: border-box;
    }
    body {
        overflow-y: scroll;
        background-color: #f0f0f0;
    }
    header.desktop {
        display: none;
    }
    header.mobile {
        display: initial;
        height: 22.9vh;
    }
    header.mobile .logo {
        height: 6vh;
        margin: 20px auto;
        position: static;
        z-index: 1;
    }
    header .user {
        display: none;
    }
    header nav.mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px;
        margin: 0 auto;
        background-color: #f0f0f0;
        width: 95vw;
        border-radius: 2px;
        transition: all .4s linear;
    }
    header.mobile nav .mobile-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    header.mobile .mobile-nav .mobile-menu p {
        font-size: 22px;
        font-weight: bold;
    }
    header.mobile .dropdown-menu {
        width: 46px;
        height: 46px;
        border-radius: 4px;
        border: 1px solid #ee8913;
        display: flex;
        justify-content: center;
        transition: all .4s linear;
    }
    header.mobile .dropdown-menu label {
        width: inherit;
        height: inherit;
        position: absolute;
        background: transparent;
        z-index: 1;
    }
    header.mobile .dropdown-menu #check {
        display: none;
        position: absolute;
        z-index: 1;
    }
    header.mobile .dropdown-menu span {
        width: 20px;
        height: 2px;
        background-color: #f29930;
        position: relative;
        top: 48%;
        transition: all .4s linear;
    }
    header.mobile .dropdown-menu span:before {
        content: '';
        width: inherit;
        height: inherit;
        background-color: #f29930;
        top: 7px;
        position: absolute;
        transition: all .4s linear;
    }
    header.mobile .dropdown-menu span:after {
        content: '';
        width: inherit;
        height: inherit;
        background-color: #f29930;
        bottom: 7px;
        position: absolute;
        transition: all .4s linear;
    }
    header.mobile .mobile-items {
        display: none;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        margin: 10px 0;
    }
    header.mobile .mobile-items div {
        display: flex;
        font-size: 22px;
        border-bottom: 1px solid #8888;
    }
    header.mobile .mobile-items div:not(:last-child) {
        margin: 10px 0;
        color: #777777;
        font-weight: bold;
    }
    header.mobile .mobile-items div.exit-mobile {
        padding-top: 2px;
        border-top: 1px solid #f0f0f0;
        color: #ee8913;
    }
    #check:checked~span {
        background-color: transparent;
    }
    #check:checked~span:before {
        transform: translate(0, -6px) rotate(-45deg);
    }
    #check:checked~span:after {
        transform: translate(0px, 8px) rotate(45deg);
    }
    main::before {
        top: 170px;
    }
    main {
        width: 94%;
        height: 80%;
    }
    main .select {
        font-size: 24px;
        text-align: center;
    }
    main .select-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    main .select-items a {
        width: 240px;
        /* border: 1px solid blue; */
    }
    main .select-items a:not(:last-child) {
        margin-bottom: 40px;
    }
    main .select-items a:last-child {
        margin-bottom: 30px;
    }
    footer {
        position: static;
        font-size: 10px;
        padding: 7px;
        bottom: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 320px) and (min-height: 565px) {
    nav a:not(:last-child) {
        margin-right: 24px;
    }
    nav {
        margin-top: 0;
    }
    main .select {
        font-size: 24px;
        text-align: center;
    }
}